# Q0: import dash standard libraries

In [101]:
from dash import Dash, dcc, html, Input, Output
from jupyter_dash import JupyterDash

# Q1: Make dash that prints "Data Science"

In [31]:
app = JupyterDash(__name__)
app.layout=html.Div([
    html.H1('Data Science')
])
app.run(jupyter_mode="external")

Dash app running on http://127.0.0.1:8050/

# Q2: Make dash that takes name input and outpt "Welcome to Data Science dashboard {name}"

In [102]:
import dash_core_components as dcc

In [69]:
app = JupyterDash(__name__)

app.layout = html.Div(children=[
    html.H1(children='Enter your name'),
    dcc.Input(id='input', value='', type='text'),
    html.Div(id='output')
])

@app.callback(
    Output('output', 'children'),
    [Input('input', 'value')]
)
def update_output(value):
    return 'Welcome to Data Science dashboard , {}!'.format(value)


app.run(jupyter_mode="external")

Dash app running on http://127.0.0.1:8050/

# Q3: Make Plotly-Dash that takes two inputs (numbers) and output 3 numbers x, y , z= x+y
- hint: use html.Div, dcc.Input(type='number')

In [210]:
app = JupyterDash(__name__)

#Define the app layout
app.layout = html.Div(children=[
    html.H1(children='Enter two Numbers'),
    dcc.Input(id='input1', type='number'),
    dcc.Input(id='input2',type='number'),
    html.Div(id='output')
])

#Define the callback function
@app.callback(
    Output('output', 'children'),
    [Input('input1', 'value'), Input('input2', 'value')]
)
def update_output(x, y):
    if x is None or y is None:
        return 'Please enter both numbers'
    z = x + y
    return f'Sum: {z} '

app.run(jupyter_mode="external")

Dash app running on http://127.0.0.1:8050/

# Q4.1: Make JubyterDash with Rangeslider from 1-15 with 6 option

In [205]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash(__name__)
app.layout = html.Div([
    dcc.RangeSlider(1, 15, 6,marks={i: str(i) for i in range(1, 16)}, value=[1, 7], id='my-range-slider'),
    html.Div(id='output-container-range-slider')
])

@app.callback(
    Output('output-container-range-slider', 'children'),
    Input('my-range-slider', 'value'))
def update_output(value):
    return 'You have selected "{}"'.format(value)

app.run(jupyter_mode="external")

Dash app running on http://127.0.0.1:8050/

# Q4.2: add to the previous dash: Label, set default value on rangeslider as 7-10

In [208]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash(__name__)
app.layout = html.Div([
    dcc.RangeSlider(0, 20, 6, marks={i: str(i) for i in range(1, 16)},value=[7, 10], id='my-range-slider'),
    html.Div(id='output-container-range-slider')
])

@app.callback(
    Output('output-container-range-slider', 'children'),
    Input('my-range-slider', 'value'))
def update_output(value):
    return 'You have selected "{}"'.format(value)

app.run(jupyter_mode="external")

Dash app running on http://127.0.0.1:8050/

# Q5: Make 3 different Dcc types (Dropdown - Checkbox...) in one dash

In [114]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Dropdown(
        id='dropdown',
        options=[
            {'label': 'Google', 'value': 'option1'},
            {'label': 'Apple', 'value': 'option2'},
            {'label': 'Tesla', 'value': 'option3'}
        ],
        value='option1'
    ),
    dcc.Checklist(
        id='checkbox',
        options=[
            {'label': 'Riyadh', 'value': 'checkbox1'},
            {'label': 'Abha', 'value': 'checkbox2'},
            {'label': 'Jeddah', 'value': 'checkbox3'}
        ],
        value=['checkbox1']
    ),
    dcc.Input(
        id='input',
        type='text',
        placeholder='Enter text...'
    ),
    html.Div(id='output')
])

@app.callback(
    Output('output', 'children'),
    Input('dropdown', 'value'),
    Input('checkbox', 'value'),
    Input('input', 'value')
)

def update_output():
    return f"You selected: Dropdown"

app.run(jupyter_mode="external")

C:\Users\iamra\anaconda3\lib\site-packages\dash\dash.py:516: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

Dash app running on http://127.0.0.1:8050/

# Q6: Make Plotly chart, then add it to a plotly_dash

In [111]:
import plotly.express as px
import pandas as pd

In [123]:
df=pd.read_csv('titanic.csv')

app = JupyterDash(__name__)

# App layout
app.layout = html.Div([
    html.Div(children='My First App with Data and a Graph'),
    dcc.Graph(figure=px.histogram(df, x='sex', y='survived'))
])


app.run(jupyter_mode="external")

Dash app running on http://127.0.0.1:8050/

C:\Users\iamra\anaconda3\lib\site-packages\dash\dash.py:516: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

# Q7: From our data make plotly-dash with suitble chart, and Dropdown.

- Dropdown should contain at least 3 options, each one represents different column.
- Add label to dropdown.
- The chart data should change depending on the selected dropdown option.

In [133]:
import pandas as pd
df = pd.read_csv("titanic passenger list.csv")

In [137]:
df.head()
df.dropna(subset=['embarked'])

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,1.0,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0.0,"Zabour, Miss. Hileni",female,15.0,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,27.0,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [160]:
app = JupyterDash(__name__)

embarked_mapping = {
    'C': 'Cherbourg',
    'S': 'Southampton',
    'Q': 'Queenstown'
}
df1 = df.dropna(subset=['embarked'])
embarked_options = [{'label': embarked_mapping[embarked], 'value': embarked} for embarked in df1.embarked.unique()]

app.layout = html.Div([
    html.H1(children='Title of Dash App', style={'textAlign':'center'}),
    dcc.Dropdown(options=embarked_options, value='S', id='dropdown-selection'),
    dcc.Graph(id='graph-content')
])

@app.callback(
    Output('graph-content', 'figure'),
    Input('dropdown-selection', 'value')
)
def update_graph(value):
    dff = df[df.embarked==value]
    bar_fig=px.bar(dff, x='sex', y='survived', title="Survival Rate by Gender ") 
    return bar_fig
    


app.run(jupyter_mode="external")

C:\Users\iamra\anaconda3\lib\site-packages\dash\dash.py:516: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

Dash app running on http://127.0.0.1:8050/

# Q8: add 2 more charts to the prevoius Ploty-Dash

In [177]:
app = JupyterDash(__name__)

# Mapping of embarked values to labels
embarked_mapping = {
    'C': 'Cherbourg',
    'S': 'Southampton',
    'Q': 'Queenstown'
}
df1 = df.dropna(subset=['embarked'])
embarked_options = [{'label': embarked_mapping[embarked], 'value': embarked} for embarked in df1.embarked.unique()]

app.layout = html.Div([
    html.H1(children='Survived Rate by Gender', style={'textAlign':'center'}),
    dcc.Dropdown(options=embarked_options, value='S', id='dropdown-selection'),
    dcc.Graph(id='bar-graph'),
    dcc.Graph(id='sunburst-graph'),
    dcc.Graph(id='scatter-graph')
])
colors = px.colors.qualitative.Safe 
@app.callback(
    Output('bar-graph', 'figure'),
    Output('sunburst-graph', 'figure'),
    Output('scatter-graph', 'figure'),
    Input('dropdown-selection', 'value')
)
def update_graph(value):
    dff = df[df.embarked==value]
    bar_fig= px.bar(dff, x='sex', y='survived', title="Survival Rate by Gender ",color='sex',color_discrete_sequence=colors)
    sunburst_fig = px.sunburst(dff, path=['survived', 'sex', 'pclass'], values='age',color_discrete_sequence=colors)
    scatter_fig = px.box(dff, x="sex", y="age",color='sex',color_discrete_sequence=colors)
    return bar_fig, sunburst_fig, scatter_fig


app.run(jupyter_mode="external")

C:\Users\iamra\anaconda3\lib\site-packages\dash\dash.py:516: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

Dash app running on http://127.0.0.1:8050/

# Q9: Search for "Plotly Gallery" and fetch for a graph and use it with our data.

- Note: You need to put the resourse addres of fetched your grapth.
https://plotly.com/python/bubble-charts/

In [193]:
app = JupyterDash(__name__)

# Define a color palette for the graphs
colors = px.colors.qualitative.Safe

# App layout
app.layout = html.Div([
    html.Div(children='Bubble Plot', style={'textAlign':'center'}),
    dcc.Graph(figure=px.scatter(df, x='age', y='fare', size='pclass', color='sex',
                                 title="Bubble Plot of Age vs. Fare (Size: Pclass)",
                                 color_discrete_sequence=colors).to_dict())
])


app.run(jupyter_mode="external")

C:\Users\iamra\anaconda3\lib\site-packages\dash\dash.py:516: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

Dash app running on http://127.0.0.1:8050/